@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
}

#mainContainer {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#title {
  display: inline-block;
}

h1 {
  font-weight: lighter;
  font-size: 72px;
  text-align: center;
  margin: 10px 0 0 0;
}

h3 {
  font-weight: lighter;
  letter-spacing: 5px;
}

#startView {
  display: inline-block;
}

#mainImage {
  display: inline-block;
}

#startView {
  border: 1px solid red;
  width: 20%;
  display: inline-block;
}

#thumbnails {
  text-align: center;
  width: 80%;
  display: block;
  margin: auto;
}

#thumbnails img {
  height: 150px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


#cssmenu {
  background: #837E7C;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'PT Sans', sans-serif;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #463E3F;
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #463E3F;
    z-index: 1;
  top: 13px;
  right: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #FFFFFF;
    z-index: 2;
  top: 15px;
  right: 15px;
}
#cssmenu ul li ul li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #FFFFFF;
  letter-spacing: 0;
  display: block;
  width: 140px;
  padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #FFD801;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #463E3F;
}
#cssmenu ul li ul li:hover > ul {
  left: 170px;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}

/*boxes change on hover*/
#cssmenu > ul > li:after {
  content: '';
  display:inline-block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #463E3F;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}

/*circle around down arrow*/
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: '';
  background: #837E7C;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 17px;
}
/*DOwn arrow next to projects before hover*/
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: '';
  border: 4px solid transparent;
  border-top-color: #FFFFFF;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 22px;
}
/*Primary Text*/
#cssmenu > ul > li > a {
  color: #ffffff;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #FFFFFF;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #463E3F;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #ffffff;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  margin-bottom: 20px;
  display: none;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
  }
  #cssmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul {
    left: 0;
    position: relative;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffffff;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #000000;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 17px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 27px;
  }
}

.pagedImages {
  border: 2px solid #CCC;
  font-size: .1px;
  height: 200px;
  margin: auto;
  overflow-x: auto; /* fallback for IE8 and other browsers that do not support new CSS3 selectors */
  overflow-y: hidden; /* fallback */
  padding: 0 0 20px 0;  /* fallback */
  position: relative;
  white-space: nowrap;
  width: 800px;
}

/* fallback overdrive */
head ~ body:nth-of-type(1):nth-last-of-type(1) .pagedImages {
  overflow: hidden;
  padding: 0;
}

.pagedImages > ul {
  background: #000;
  display: inline-block;
  line-height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
}

.pagedImages > ul > li {
  display: inline-block;
  font-size: 10pt;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 25%;
}

.pagedImages > ul > li > a:first-child {
  display: block;
}

.pagedImages > ul > li > a:first-child ~ * {
  display: none;
}

.pagedImages > ul > li > a > img {
  border: 0;
  display: inline-block;
  max-height: 400px;
  max-width: 400px;
  margin: -100px;
  opacity: .7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  vertical-align: middle;
}

.pagedImages > ul > li:hover > a:first-child > img {
  opacity: 1;
  max-width: 200px;
  min-width: 200px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pagedImages > input {
  display: none;
}

.pagedImages > label {
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 200px;
  overflow: hidden;
  padding-left: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 0;
  visibility: hidden;
  z-index: 1;
}

.pagedImages > label:hover {
  background: #FFF;
  color: #000;
}

.pagedImages > label:before {
  display: block;
  font-size: 30pt;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.pagedImages > input:nth-of-type(1):checked ~ ul:nth-of-type(1) { margin-left: 0; }
.pagedImages > input:nth-of-type(2):checked ~ ul:nth-of-type(1) { margin-left: -100%; }
.pagedImages > input:nth-of-type(3):checked ~ ul:nth-of-type(1) { margin-left: -200%; }
.pagedImages > input:nth-of-type(4):checked ~ ul:nth-of-type(1) { margin-left: -300%; }
.pagedImages > input:nth-of-type(5):checked ~ ul:nth-of-type(1) { margin-left: -400%; }
.pagedImages > input:nth-of-type(6):checked ~ ul:nth-of-type(1) { margin-left: -500%; }
.pagedImages > input:nth-of-type(7):checked ~ ul:nth-of-type(1) { margin-left: -600%; }
.pagedImages > input:nth-of-type(8):checked ~ ul:nth-of-type(1) { margin-left: -700%; }
.pagedImages > input:nth-of-type(9):checked ~ ul:nth-of-type(1) { margin-left: -800%; }

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8) {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, .5);
  visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-last-of-type(1):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(1):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(9):checked ~ label:nth-of-type(8):before {
  content: '◀';
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2),
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3),
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4),
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5),
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6),
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7),
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8),
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9),
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1) {
  border-left: 1px solid rgba(0, 0, 0, .5);
  right: 0;
  visibility: visible;
}

.pagedImages > input:nth-of-type(1):checked ~ label:nth-of-type(2):before,
.pagedImages > input:nth-of-type(2):checked ~ label:nth-of-type(3):before,
.pagedImages > input:nth-of-type(3):checked ~ label:nth-of-type(4):before,
.pagedImages > input:nth-of-type(4):checked ~ label:nth-of-type(5):before,
.pagedImages > input:nth-of-type(5):checked ~ label:nth-of-type(6):before,
.pagedImages > input:nth-of-type(6):checked ~ label:nth-of-type(7):before,
.pagedImages > input:nth-of-type(7):checked ~ label:nth-of-type(8):before,
.pagedImages > input:nth-of-type(8):checked ~ label:nth-of-type(9):before,
.pagedImages > input:nth-last-of-type(1):checked ~ label:nth-of-type(1):before {
  content: '▶';
}

.pagedImages > ul > li:target {
  background: rgba(0, 0, 0, .8);
  cursor: default;
  height: 100%;
  font-size: 12pt;
  left: 0;
  line-height: 125%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  white-space: normal;
  z-index: 2;
}

.pagedImages > ul > li:target > a:first-child {
  display: inline;
}

.pagedImages > ul > li:target > a:first-child ~ * {
  background: #FFF;
  border-radius: 2em;
  display: block;
  margin: 1em auto;
  padding: 1.5em;
  text-align: left;
  width: 30em;
}

.pagedImages > ul > li:target > a:first-child > img {
  margin: 1em;
  opacity: 1;
  max-height: 400px;
  max-width: 400px;
  -webkit-transition: none;
  transition: none;
}
